<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createAuthor">Create new Author</label>
                <label ng-if="edit" id="editAuthor">Edit Author</label></div>
            <div class="panel-body">
                <form ng-submit="createAuthor()" name="author">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="authorName" class="col-sm-2">Name:</label>
                            <input id="authorName" required ng-model="authorName" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="authorBirthDate" class="col-sm-2">Birth Date:</label>
                            <input type="date" id="authorBirthDate" placeholder="DD/MM/YYYY" required ng-model="authorBirthDate" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="authorDescription" class="col-sm-2">Biography:</label>
                            <textarea id="authorDescription" required ng-model="authorDescription" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="authorImage" class="col-sm-2">Image:</label>
                            <input id="authorImage" required ng-model="authorImage" class="col-sm-6"/>
                        </div>
                    </div>
                    <div ng-if="edit" class="panel-group" id="theBooks">
                        <div class="panel panel-info">
                            <div class="panel-heading">Associated books</div>
                            <div class="panel-body">
                                <div id="div2" ondrop="angular.element(document.getElementById('theBooks')).scope().dropAdd(event)" ondragover="angular.element(document.getElementById('theBooks')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-show="edit" ng-repeat="book in allBooksAuthor">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('theBooks')).scope().drag(event)" id="{{book.id}}">{{book.name}}</p>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">All books</div>
                            <div class="panel-body">
                                <div id="div1" ondrop="angular.element(document.getElementById('theBooks')).scope().dropDelete(event)" ondragover="angular.element(document.getElementById('theBooks')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-repeat="book in allBooksShow">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('theBooks')).scope().drag(event)" id="{{book.id}}">{{book.name}}</p>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!author.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="author.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="authorsList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


